/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/YIdduiyIzhEz.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/X7drNEe3NQcp.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/fHf9KmAE4FBr.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/SpfwFMpTME7P.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/U6BH8SUHDMk5.otf') format('truetype');
}